.searchImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.searchUserWrapper{
    display: flex;
    background-color: whitesmoke;
}

.searchUserContainer{
    flex: 9;
}

.searchUser{
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 9px -4px #272727;
    width: 70%;
    padding: 20px;
}

.searchUser:hover{
    background-color: lightgray;
    transition: ease-in-out 0.5s;
}

.searchHeader{
    margin-left: 20px;
    margin-top: 30px;

}

.navlinkUser{
    text-decoration: none;
    color: #272727;
}