.messenger{
    height: calc(100vh - 70px);
    display: flex;
    background-color: whitesmoke;
}

.chatMenu{
    flex: 2;
    width: 25%;
    overflow-x:unset;

}

.chatBox{
    flex: 8;
    width: 75%;
}

.chatOnline{
    flex: 2;
    width: 25%;

}

.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    position: relative;
}

.chatMenuWrapper{
   margin-left: 0%;
   overflow-x: scroll;
}



.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
    
}
.chatMenuWrapper,.chatBoxWrapper,.chatOnlineWrapper{
    padding: 10px;
    height: 100%;
}

.chatMenuInput{
    width: 90%;
    padding: 10px, 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messageBoxInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.messageSendButton{
    width: 70px;
    margin-left: 5px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #272727;
    color: white;
}

.noConvoText{
    position: absolute;
    top: 20%;
    font-size: 35px;
    color: #616161;
    text-align: center;
}



@media (max-width: 499px) {
.chatBoxWrapper{
    width: 425px;
}

.chatOnlineWrapper{
    margin-left: 225%;
    overflow:hidden;
    width: 50px;
}
.chatOnlineImg{

}
}


@media (max-width: 400px) {
    .chatBoxWrapper{
        width: 325px;
    }
    
    .chatOnlineWrapper{
        margin-left: 225%;
        overflow:hidden;
        width: 50px;
    }
    
    }

    @media (max-width: 275px) {
        .chatBoxWrapper{
            width: 300px;
        }
        
        .chatOnlineWrapper{
            margin-left: 225%;
            overflow:hidden;
            width: 50px;
        }
        
        }