.sidebar{
    flex:4;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
    color: #69707a;
    background-color: whitesmoke;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: rgb(212, 216, 220);
}

::-webkit-scrollbar-thumb{
    background-color: rgb(195, 191, 191);
}


.sidebarWrapper{
    padding: 20px;
    background-color: whitesmoke;
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sidebarIcon{
    margin-right: 15px;
}

.sidebarButton{
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
}

.sidebarButton:hover{
    color: whitesmoke;
    background-color: #272727;
    transition: ease 0.5s;
}

.sidebarHr{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
}

.sidebarFollowerList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarFollower{

}

.FollowerName{

    font: 30px;

}

.followerImg{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    margin-right: 10px;
}

.sidebarListItem:hover{
    background-color: darkgray;
    transition: 0.5s ease-in-out;
}

.sidebarListItemText{
    color: #272727;
}

.sidebarIcon{
    color: #272727;
}