.rightbar{
    flex: 3;
    background-color: whitesmoke;
    min-width: 25%;


}

.rightbarWrapper{
    padding: 20px 20px 0 0;
    background-color: whitesmoke;

}

.birthdayIcons{
    font-size: 40px;
}

.birthdayText{
    font-weight: 300;
    font-size: 15px;
}

.birthdayContainer{
    display: flex;
    align-items: center;
}

.rightBarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
}

.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rightbarPfpContainer{
    margin: 10px;
    position: relative;
}

.rightbarPfp{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    object-fit: cover;

}

.rightbarOnline{
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: lime;
    border: 2px solid white;
    position: absolute;
    top: -3px;
    right: -3px;
}

.rightbarUsername{
    font-weight: 500;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .rightbarInfo{
    margin-bottom: 30px;
  }
  
  .rightbarInfoItem{
    margin-bottom: 10px;
  }
  
  .rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }
  
  .rightbarInfoValue{
    font-weight: 300;
  }
  
  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
  }
  
  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }

  .rightbarFollow{
    margin-top: 30;
    margin-bottom: 10px;
    border: none;
    color: #272727;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-style: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: whitesmoke;
    outline: 1px solid #272727;
  }

  .rightbarFollow:hover{
    background-color: #272727;
    color: white;
    transition: ease-in-out 0.5s;
  }

  .rightbarFollowingName{
    color: #555;
  }

  .userFollowingsLink{
    padding: 10px;

  }
  .userFollowingsLink:hover{
    background-color: lightgray;
    transition: 0.5s ease-in-out;
    padding: 10px;
  }