.navbarContainer{
    height: 50px;
    width: inherit;
    background-color: #272727 ;
    color: whitesmoke;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    min-width: auto;
    
}

.navbarLeft{
    flex: 3;
}

.navbarCenter{
    flex: 5;
    min-width: 50%;
    display: flex;

}

.navbarImg{
    margin-right: 10px;
}



.navbarRight{
    flex: 4;
    display: flex;
    min-width: 25%;

    align-items: center;
}

.navbarImg{
    width: 32px;
    height: 32px;
    border-radius: 30px;
    border: 1px solid whitesmoke;
    cursor: pointer;

}

.navbarImg:hover{
    opacity: 0.3;
    transition: 0.5 ease-out;

}

.logo{
    font-size: 24px;
    margin-left: 20px;
    cursor: pointer;
}

.searchbar{
    width: 100%;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

.searchicon{
    color: black;
    margin-left: 10px;
}

.searchInput{
    border: none;
    background-color: whitesmoke;
    width: 80%;
}

.searchInput:focus{
    outline: 0;
}

.navbarLink{
    margin-left: 10px;
    font-size: 13px;
    cursor: pointer;
    background-color: #272727;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
}

.navbarLink:hover{
    background-color: white;
    color: #272727;
    transition: 0.5s ease-out;
}

.navbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.navbarIconBadge{
    width: 15px;
    height: 15px;
    font-size: 10px;
    background-color: red;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;

}
.navbarIcons{
    display: flex;
    font-size: 14px;
    justify-content: space-evenly;
    flex: 1;
}

.linkTo{
    color: aliceblue;
    text-decoration: none;
}

.linkTo:hover{
    color: aliceblue;

}

button.navbarIconItem{
    color: white;
    background-color: #272727;
    border: none;
}

.notificationName{
    font-size: 10px;
}

.notificationsButton{
    background-color: whitesmoke;
    width: 80%;
    margin-top: 10px;
    margin-left: 10%;
    border-radius: 10px;
    border: 1px solid #272727;
    color: #272727;
    font-size: 15px;
    line-height: 1;
}

.notificationsButton:hover{
    background-color: #272727;
    color: white;
    transition: 0.5s ease-in-out;
}

.navbarLink{
    flex: 1;
}
